*main
*main
./0-main.js
./node_modules/browser-resolve/node_modules/resolve/test/pathfilter/deep_ref/main.js
./node_modules/browser-resolve/node_modules/resolve/test/precedence/aaa/main.js
./node_modules/browser-resolve/node_modules/resolve/test/precedence/bbb/main.js
./node_modules/browser-resolve/node_modules/resolve/test/resolver/incorrect_main
./node_modules/browser-resolve/node_modules/resolve/test/resolver/without_basedir/main.js
./node_modules/browser-resolve/node_modules/resolve/test/module_dir/zmodules/bbb/main.js
./node_modules/@cnakazawa/watch/main.js
./node_modules/pn/domain.js
./node_modules/require-main-filename
./node_modules/resolve/test/resolver/dot_main
./node_modules/resolve/test/resolver/dot_slash_main
./node_modules/resolve/test/resolver/false_main
./node_modules/resolve/test/resolver/incorrect_main
./node_modules/resolve/test/resolver/without_basedir/main.js
./node_modules/resolve/test/resolver/invalid_main
./node_modules/resolve/test/precedence/aaa/main.js
./node_modules/resolve/test/precedence/bbb/main.js
./node_modules/resolve/test/module_dir/zmodules/bbb/main.js
./node_modules/resolve/test/pathfilter/deep_ref/main.js
./node_modules/external-editor/main
./node_modules/tough-cookie/lib/permuteDomain.js
./node_modules/es-abstract/2020/BigInt/remainder.js
./node_modules/es-abstract/2020/Number/remainder.js
./node_modules/es-abstract/2021/BigInt/remainder.js
./node_modules/es-abstract/2021/Number/remainder.js
./node_modules/es-abstract/2022/BigInt/remainder.js
./node_modules/es-abstract/2022/Number/remainder.js
./node_modules/es-abstract/2023/BigInt/remainder.js
./node_modules/es-abstract/2023/Number/remainder.js
./node_modules/es-abstract/2024/BigInt/remainder.js
./node_modules/es-abstract/2024/Number/remainder.js
./1-main.js
./2-main.js
./3-main.js
./4-main.js
./5-main.js
./6-main.js
./7-main.js
./12-main.js
./8-main.js
./9-main.js
./10-main.js
./11-main.js
./0-main.js
./node_modules/browser-resolve/node_modules/resolve/test/pathfilter/deep_ref/main.js
./node_modules/browser-resolve/node_modules/resolve/test/precedence/aaa/main.js
./node_modules/browser-resolve/node_modules/resolve/test/precedence/bbb/main.js
./node_modules/browser-resolve/node_modules/resolve/test/resolver/incorrect_main
./node_modules/browser-resolve/node_modules/resolve/test/resolver/without_basedir/main.js
./node_modules/browser-resolve/node_modules/resolve/test/module_dir/zmodules/bbb/main.js
./node_modules/@cnakazawa/watch/main.js
./node_modules/pn/domain.js
./node_modules/require-main-filename
./node_modules/resolve/test/resolver/dot_main
./node_modules/resolve/test/resolver/dot_slash_main
./node_modules/resolve/test/resolver/false_main
./node_modules/resolve/test/resolver/incorrect_main
./node_modules/resolve/test/resolver/without_basedir/main.js
./node_modules/resolve/test/resolver/invalid_main
./node_modules/resolve/test/precedence/aaa/main.js
./node_modules/resolve/test/precedence/bbb/main.js
./node_modules/resolve/test/module_dir/zmodules/bbb/main.js
./node_modules/resolve/test/pathfilter/deep_ref/main.js
./node_modules/external-editor/main
./node_modules/tough-cookie/lib/permuteDomain.js
./node_modules/es-abstract/2020/BigInt/remainder.js
./node_modules/es-abstract/2020/Number/remainder.js
./node_modules/es-abstract/2021/BigInt/remainder.js
./node_modules/es-abstract/2021/Number/remainder.js
./node_modules/es-abstract/2022/BigInt/remainder.js
./node_modules/es-abstract/2022/Number/remainder.js
./node_modules/es-abstract/2023/BigInt/remainder.js
./node_modules/es-abstract/2023/Number/remainder.js
./node_modules/es-abstract/2024/BigInt/remainder.js
./node_modules/es-abstract/2024/Number/remainder.js
./1-main.js
./2-main.js
./3-main.js
./4-main.js
./5-main.js
./6-main.js
./7-main.js
./12-main.js
./8-main.js
./9-main.js
./10-main.js
./11-main.js
